<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learn.example.dao.StaffMapper" >
    <resultMap id="BaseResultMap" type="Staff" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="age" property="age" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, name, age
    </sql>

    <select id="getStaffList" parameterType="Staff" resultMap="BaseResultMap"  >
        SELECT
        <include refid="Base_Column_List" />
        FROM Staff
        <where>
            <if test="id != null"> and id = #{id}</if>
            <if test="name != null"> and name = #{name}</if>
            <if test="age != null"> and age = #{age}</if>
        </where>
    </select>

    <select id="getStaffById" parameterType="java.lang.String" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM Staff
        WHERE id = #{id}
    </select>

    <insert id="add" parameterType="Staff" >
        INSERT INTO
        Staff
        (name,age)
        VALUES
        (#{name}, #{age})
    </insert>

    <update id="update" parameterType="java.util.Map" >
        UPDATE
        Staff
        SET
        name = #{Staff.name},age = #{Staff.age}
        WHERE
        id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.String" >
        DELETE FROM
        staff
        WHERE
        id = #{id}
    </delete>
</mapper>